/*------------------------------------------------------------------
[Table of contents]

1. Blog Classic
2. Post Classic
3. Navigation
4. FAQ
-------------------------------------------------------------------*/

/* ==========================================================================
   [Start] Blog Classic
========================================================================== */
.dropcap {
  line-height: 24px;
  &:first-letter {
	margin-top: 10px;
	padding: 0 20px;
	color: #141414;
	float: left;
	font-size: 36px;
	font-weight: bold;
  }
}

.dropcap-bg {
  line-height: 24px;
  margin-top: 10px;
  &:first-letter {
	background: #141414 none repeat scroll 0 0;
	color: #fff;
	float: left;
	font-size: 36px;
	font-weight: bold;
	margin-right: 14px;
	margin-top: -3px;
	padding: 10px 15px;
  }
}
.blog-footer {
	background: #aeaeae;
	margin-top: 100px;
}
.entry-blog {
  position: relative;
  margin: 0 0 50px;

  .entry-title {
	font-size: 24px;
	line-height: 38px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
  }
  .entry-header {
	.entry-feature.entry-feature-image img {
	  width: 100%;
	}
  }
  .entry-meta {
	border-bottom: 1px solid #EEEEEE;
	padding: 25px 0;
	ul {
	  position: relative;
	  display: inline-block;
	  padding: 0;
	  margin: 0;
	  li {
		display: inline-block;
		margin-right: 6px;
		padding-right: 10px;
		position: relative;
		font-size: 12px;
		color: #aaa;
		a {
		  color: #aaa;
		  &:hover {
			color: $primary_color;
		  }
		}
		i {
		  padding-right: 6px;
		}
		&.detail-like {
		  .zo-post-like {
			cursor: pointer;
			&:hover {
			  color: $primary_color;
			}
		  }
		}
	  }
	}
  }
  .entry-content {
	.list-style-check {
	  margin-left: 40px;
	}
  }
  /*** Blog Type ***/
  .entry-gallery .carousel-control {
	width: 45px;
	height: 45px;
	line-height: 52px;
	text-align: center;
	opacity: 1;
	top: 50%;
	transform: translate(0, -50%);
	@include text-shadow(0 0 0 rgba(0, 0, 0, 0));
	border: 1px solid $primary_color;
	@include border-radius(100%);
	background-color: transparent;
	background-image: none !important;
	filter: none;
	&.left {
	  left: 10px;
	}
	&.right {
	  right: 10px;
	}

	.fa {
	  font-size: 36px;
	  color: $primary_color;
	}
  }
  .entry-video iframe {
	width: 100%;
  }
  .entry-quote {
	blockquote {
	  background: none repeat scroll 0 0 #ece9ef;
	  border-left: 3px solid $primary_color;
	  padding: 23px;
	  margin: 0 0 0 78px;
	  position: relative;
	  &:before {
		content: "\f10d";
		font-size: 60px;
		font-family: FontAwesome;
		color: $primary_color;
		position: absolute;
		top: 15px;
		left: -75px;
	  }
	}
  }
}

/**
* ----> Single Post
*/
.single {
  .social-share {
	margin-bottom: 30px;
	h2 {
	  margin: 0 0 15px;
	  font-size: 16px;
	  font-weight: 600;
	  letter-spacing: 0.05em;
	  text-transform: uppercase;
	}
  }
  .social-list {
	margin: 0;
	padding: 0;
	li {
	  display: inline-block;
	  list-style: none;
	  margin-right: 7px;
	  a {
		display: block;
		width: 62px;
		height: 28px;
		line-height: 28px;
		font-size: 12px;
		color: #FFF;
		text-align: center;
		background-color: $primary_color;
		@include border-radius(5px);
		&.facebook { background-color: #4969b3; }
		&.twitter { background-color: #4ac5f8; }
		&.google { background-color: #d22c40; }
		&.linedin { background-color: #6689db; }
		&.pinterest { background-color: #ea4973; }
		&:hover {
		  opacity: 0.7;
		}
	  }
	}
  }
  .post-tags {
	margin-bottom: 10px;
  }
  .post-navigation {
	padding: 10px 0;
	border-top: 1px solid #EBEBEB;
	margin-bottom: 50px;
	.post-next {
		.fa {
		  float: right;
		}
	}
  }
}

.page, .blog, .archive, .search {
  .post-teaser {
	blockquote {
	  margin-left: 0;
	  margin-right: 0;
	  margin-top: 0;
	}
  }
}
.blog {
  .post-teaser {
	.zo-blog-footer {
	  margin-bottom: 40px;
	}
  }
}
.single {
  .post-teaser {
	.zo-blog-detail {
	  .zo-blog-title {
		font-size: 24px;
	  }
	}
  }
  .page-links {
	.screen-reader-text {
	  color: $primary_color;
	}
	a .screen-reader-text {
	  color: inherit;
	}
  }
}

.post-teaser {
  padding-bottom: 10px;
  &.sticky {
	background-color: #F9F9F9;
	padding: 10px 20px 20px;
	.zo-blog-title {
	  &:before {
		content: "\f08d";
		font-size: 30px;
		color: $primary_color;
		padding-right: 10px;
		font-family: FontAwesome;
	  }
	}
  }
  .zo-blog-title {
	letter-spacing: 0;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	margin: 25px 0 10px;
	a {
	  color: #3c3c3c;
	  &:hover {
		color: $primary_color;
	  }
	}
  }
  .zo-blog-category {
	margin-bottom: 10px;
	a {
	  font-family: "Damion", sans-serif;
	  font-size: 24px;
	  color: #676767;
	  &:hover {
		color: $primary_color;
	  }
	}
  }
  .zo-blog-detail {
	margin-bottom: 20px;
	.zo-blog-meta {
	  margin-bottom: 12px;
	  font-size: 12px;
	  a {
		color: $primary_color;
		&:hover {
		  color: #676767;
		}
	  }
	}
	.zo-blog-content {
	  font-size: 14px;
	  line-height: 30px;
	  color: #3c3c3c;
	}
  }
  .zo-blog-footer {
	height: 56px;
	line-height: 52px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 20px;
	.btn-readmore {
	  color: #242424;
	  font-size: 12px;
	  letter-spacing: 0.2em;
	  &:hover {
		color: $primary_color;
	  }
	}
	.social-list {
	  list-style: none inside;
	  position: absolute;
	  top: 0;
	  right: 0;
	  margin: 0;
	  li {
		display: inline-block;
		margin-left: 20px;
		a {
		  font-size: 14px;
		  color: #676767;
		  &:hover {
			color: $primary_color;
		  }
		}
	  }
	}
  }
  /** post format type **/
  .zo-blog-image {
	position: relative;
	text-align: center;
	&:hover {
	  .zo-blog-overlay {
		opacity: 1;
	  }
	}
	.zo-blog-overlay {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  @include background-opacity($primary_color, 0.9);
	  @include transition(all 300ms ease-in-out);
	  a {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: 68px;
		height: 68px;
		@include border-radius(100%);
		background-color: #FFF;
		color: #3c3c3c;
		font-size: 16px;
		line-height: 68px;
		&:hover {
		  color: $primary_color;
		}
	  }
	}
	.carousel {
	  .carousel-control {
		background: none;
		text-shadow: none;
		opacity: 1;
		.fa {
		  background: #fff;
		  color: #141414;
		  display: block;
		  width: 100%;
		  height: 80px;
		  line-height: 80px;
		  text-align: center;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  @include transform(translate(-50%, -50%));
		}
		&:hover > .fa {
		  background: $primary_color;
		  color: #fff;
		}
	  }
	}
  }
  .zo-blog-video,
  .zo-blog-audio {
	.overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.3);
	  .overlay-inner {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
		@include transform(translateY(-50%));
		padding-left: 20px;
		padding-right: 20px;
	  }
	  .play-button {
		color: #FFF;
		display: inline-block;
		background-color: $primary_color;
		font-size: 32px;
		height: 55px;
		line-height: 55px;
		width: 55px;
		text-align: center;
	  }
	  .mejs-container {
		margin-top: 40px;
	  }
	}
	iframe {
	  width: 100%;
	}

  }
  .zo-blog-link {
	position: relative;
	.overlay-link {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  @include background-opacity(#000, 0.6);
	  .link {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		width: 100%;
		padding: 0 50px;
		@include transform(translateY(-50%));
		a {
		  color: #FFF;
		  &:hover {
			color: $primary_color;
		  }
		}
	  }
	}
  }
}

@include breakpoint-in(768px, 992px) {
  .page .post-teaser .zo-blog-detail .zo-blog-content {
	min-height: 85px;
  }
}

/* ==========================================================================
   [End] Blog Classic
========================================================================== */

/* ==========================================================================
   [Start] Navigation
========================================================================== */
.navigation {
  text-align: center;
  .pagination {
	margin-bottom: 40px;
	a, .current {
	  padding: 10px 15px;
	  border: 1px solid #ececec;
	  color: $link_color;
	  margin-right: 7px;
	  &:hover {
		background-color: transparent;
		color: $primary_color;
	  }
	}
	span.current {
	  color: $primary_color;
	  background-color: transparent;
	}
  }
}

.post-navigation {
  a {
	font-size: 14px;
	color: #141414;
	max-width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	i {
	  line-height: 30px;
	}
	&.post-prev {
	  i {
		padding-right: 20px;
	  }
	}
	&.post-next {
	  i {
		padding-left: 20px;
	  }
	}
  }
}

/* ==========================================================================
   [End] 3. Navigation
========================================================================== */

/*=================================================================
 [Start] Portfolio
*==================================================================*/
.single.single-portfolio {
  .type-portfolio {
	margin-bottom: 13%;
	.zo-portfolio-image {
	  margin-bottom: 30px;
	  text-align: center;
	}
	.zo-portfolio-galleries {
	  text-align: center;
	  img {
		margin-bottom: 30px;
	  }
	}
	.zo-portfolio-content {
	  color: #3c3c3c;
	  font-size: 14px;
	  line-height: 30px;
	}
	.zo-portfolio-detail {
	  margin-bottom: 45px;
	  .zo-portfolio-title {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 10px;
		line-height: 24px;
	  }
	  .zo-portfolio-categories {
		margin-bottom: 30px;
		font-size: 14px;
		a {
		  color: #676767;
		  &:hover {
			color: $primary_color;
		  }
		}
	  }
	}
	.zo-portfolio-info {
	  .portfolio-item {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 25px;
		font-weight: 600;
		letter-spacing: 0.05em;
		label{
		  color: #919191;
		  display: block;
		  line-height: 17px;
		}
		span {
		  display: block;
		  color: #3c3c3c;
		}
	  }
	}
	.zo-portfolio-pagination {
	  min-height: 70px;
	  position: relative;
	  .post-navigation {
		border: none;
		a {
		  font-size: 12px;
		  font-weight: 600;
		  letter-spacing: 0.05em;
		  line-height: 33px;
		  text-transform: uppercase;
		  .fa {
			font-size: 30px;
			&.fa-angle-left {
			  float: left;
			}
			&.fa-angle-right {
			  float: right;
			}
		  }
		}
	  }
	  .launch-project {
		margin-bottom: -35px;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
	  }
	}
	.btn.btn-primary {
	  background: #303030;
	  font-size: 14px;
	  border: none;
	  height: 70px;
	  line-height: 70px;
	  padding: 0;
	  text-align: center;
	  width: 100%;
	  &:hover {
		background: $primary_color;
	  }
	}
	.zo-portfolio-socials {
	  .social-list {
		li {
		  a {
			background: transparent;
			color: #515151;
			font-size: 15px;
			line-height: 0;
			width: 50px;
			&:hover {
			  color: $primary_color;
			}
		  }
		}
	  }
	}
	&.portfolio-full {
	  .zo-portfolio-detail {
		margin-top: 15px;
	  }
	  .zo-portfolio-info {
		.portfolio-item {
		  display: inline-block;
		  padding: 0 30px;
		  line-height: 12px;
		  margin-bottom: 40px;
		  &:not(:last-child) {
			border-right: 1px solid #ebebeb;
		  }
		  span {
			margin-top: 10px;
		  }
		}
	  }
	  .zo-portfolio-socials {
		margin-bottom: 75px;
		margin-top: 5px;
		.social-list {
		  text-align: center;
		  border-top: 1px solid #ebebeb;
		  padding-top: 27px;
		}
	  }
		&.no-image {
			.zo-portfolio-detail {
				margin-bottom: 85px;
				.zo-portfolio-categories {
					margin-bottom: 20px;
				}
			}
			.zo-portfolio-socials {
				margin-bottom: 95px;
				.social-list {
					padding-top: 20px;
				}
			}
		}
	}
	
	&.portfolio-sidebar {
	  margin-bottom: 10%;
	  .zo-portfolio-detail {
		margin-bottom: 60px;
	  }
	  .zo-portfolio-info {
		margin-bottom: 70px;
	  }
	  .zo-portfolio-pagination {
		margin-top:52px;
	  }
	  .zo-portfolio-socials {
		.social-list {
		  margin-top: 35px;
		  a {
			text-align: left;
		  }
		}
	  }
	}
  }
}
/*=================================================================
 [End] Portfolio
*==================================================================*/

/**
* Custom Carousel
*/
.custom-carousel.owl-carousel {
  .owl-item {
	color: #FFF;
	h2 {
	  font-size: 26px;
	  line-height: 60px;
	  letter-spacing: 0.1em;
	  font-weight: 400;
	  color: #FFF;
	}
  }
  .owl-nav {
	text-align: left;
	margin-top: 40px;
	[class*="owl-"] {
	  background-color: transparent;
	  display: inline-block;
	  padding: 0;
	  margin: 0;
	  height: 34px;
	  width: 34px;
	  line-height: 30px;
	  font-size: 20px;
	  color: #FFF;
	  border: 1px solid #FFF;
	  text-align: center;
	  @include border-radius(0);
	  i {
		line-height: normal;
	  }
	  &.owl-prev {
		margin-right: 40px;
		position: relative;
		&:after {
		  width: 40px;
		  height: 1px;
		  background-color: #FFF;
		  content: '';
		  position: absolute;
		  top: 50%;
		  right: -41px;
		}
	  }
	}
  }
}

body.error404 {
  #zo-page-element-wrap {
	margin-bottom: 0;
  }
}

.vc_images-carousel-1-1447213525 {
  .zo_images_carousel {
	margin-bottom: 0;
  }
}
.shop-parallax-footer {

}