/*------------------------------------------------------------------
[Table of contents]

1. Reset HTML/CSS, Unitest, Body
2. Page Title
3. Primary
-------------------------------------------------------------------*/

/* ==========================================================================
   [Start] 1. Reset HTML/CSS, Unitest, Body, @Extend
========================================================================== */
body {
  overflow-x: hidden;
  &.remove-margin-top {
	margin-top: 0;
  }
  backface-visibility: hidden;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.entry-page-image {
  margin-bottom: 14px;
}

#main #page-default {
  position: relative;
  clear: both;
}

a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  @include transition(all 300ms linear 0ms);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  letter-spacing: 0.05em;
  a {
	color: $primary_color;
  }
}

p {
  margin: 0 0 15px;
}

img {
  height: auto;
  max-width: 100%;
}
/**
* Fix Row Full Width
*/
.vc_row.wpb_row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  .vc_row.vc_inner {
	margin-left: -15px;
	margin-right: -15px;
  }
}
.vc_row.vc_row-fluid {
  &.vc_row-no-padding {
	.vc_row.vc_inner {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
}

.vc_row {
  .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
	margin-bottom: 0;
  }
}

.bg-effect-lg,
.bg-effect-sm {
  background: repeat-y center center;
  background-size: 100%;
}

.vc_row.bg-position-center {
  background-position: center center !important;
}

.vc_row.bg-position-right {
  background-position: right center !important;
}

.bg-dark-inset {
  .wpb_wrapper {
	background: #060606;
  }
}

.bg-main-inset {
  .wpb_wrapper {
	background: $primary_color;
  }
}

.zo-animation {
  visibility: hidden;
}

/* ==========================================================================
   [End] 1. Reset HTML/CSS, Unitest, Body
========================================================================== */

/* ==========================================================================
   [Start] 2. Page Title
========================================================================== */
#zo-page-element-wrap {
  max-height: 765px;
}

#page-title-text {
  h1 {
	padding: 0;
	text-transform: uppercase;
	margin: 0 0 10px;
  }
  .page-sub-title {
	margin: 0;
	padding: 0;
  }
}

@include breakpoint-max(768px) {
  div.page-title #page-title-text h1 {
	font-size: 24px;
  }
}

#breadcrumb {
  #breadcrumb-text {
	text-transform: uppercase;
	.breadcrumbs {
	  margin: 0;
	  padding: 0;
	  li {
		padding: 0 20px;
		display: inline-block;
		position: relative;
		margin-bottom: 15px;
		&:after {
		  content: "\f054";
		  font-family: FontAwesome;
		  font-size: 12px;
		  float: right;
		  position: absolute;
		  right: -6px;
		}
		&:first-child {
		  padding-left: 0;
		}
		&:last-child {
		  padding-right: 0;
		  &:after {
			content: "";
		  }
		}
		a:hover {
		  color: $primary_color;
		}
	  }
	}
  }
}

/* ==========================================================================
   [End] 2. Page Title
========================================================================== */

/* ==========================================================================
   [Start] 3. Primary
========================================================================== */
/*
----> List Style
*/
.list-style-check {
  li {
	color: #9c9c9c;
	line-height: 31px;
	position: relative;
	padding-left: 36px;
	&:before {
	  content: "\f00c";
	  font-family: FontAwesome;
	  color: #fff;
	  font-size: 18px;
	  position: absolute;
	  top: 1px;
	  left: 4px;
	  z-index: 1;
	}
	&:after {
	  content: "";
	  width: 24px;
	  height: 24px;
	  display: inline-block;
	  background-color: #db5896;
	  @include border-radius(2px);
	  border: 2px solid #ba2b6f;
	  position: absolute;
	  top: 4px;
	  left: 0;
	}
  }
}

.list-style-check.green {
  li {
	&:after {
	  background-color: #81b748;
	  border-color: #5a951b;
	}
  }
}

/*
----> End List Style
*/

/*
----> VC Row Overlay Color
*/
.wpb_row {
  &.background-image-fixed {
	overflow: hidden;
	position: inherit;
	.zo-overlay-color {
	  height: 3000px;
	  left: 0;
	  position: relative;
	  margin-bottom: -3000px;
	  width: 100%;
	  @include transform(translateY(-20%));
	}
  }
  .zo-overlay-color {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
  }
}

/*
----> End VC Row Overlay Color
*/

/*
----> VC Row Backgrund Color Custom
*/
.row-custom-bg-color {
  position: relative;
  .zo-custom-bg-left, .zo-custom-bg-right {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
  }
  .zo-custom-bg-right {
	left: inherit;
	right: 0;
  }
}

/*
----> End VC Row Backgrund Color Custom
*/
.row-arrow-wrap {
  position: relative;
  .zo-row-arrow {
	bottom: -12px;
	height: 0;
	left: 0;
	width: 0;
	margin: auto;
	position: absolute;
	right: 0;
	border-top: 12px solid;
	border-left: 22.5px solid transparent;
	border-right: 22.5px solid transparent;
	z-index: 10;
  }
}
.row-overlay-color,
.column-overlay-color,
.zo_parallax {
  position: relative;
}
.row-arrow-bottom {
  .zo-row-arrow {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	&:hover {
	  cursor: pointer;
	}
  }
}
/**
*-->Column Overlay and Arrow
*/
.column-arrow-wrap {
  position: relative;
  .zo-column-arrow {
	bottom: 0px;
	height: 0;
	left: 0;
	width: 0;
	margin: auto;
	position: absolute;
	right: 0;
	border-bottom: 12px solid;
	border-left: 22.5px solid transparent;
	border-right: 22.5px solid transparent;
	z-index: 10;
  }
}

.vc_separator.wpb_content_element {
  margin: 0;
  &.align_left {
	margin-left: 0 !important;
  }
}
#zo-loadding {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  .ball {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
	@include transform(translate(0px, -50%));
  }
}

/* [Start] Eror Page
==============================================================*/
.error404 {
  #main {
	padding: 0 !important;
	#primary {
	  background-color: $primary_color;
	  padding: 160px 0;
	}
  }
  .entry-error404 {
	text-align: center;
	.entry-header {
	  img {
		margin-bottom: 10px;
	  }
	  h1 {
		font-size: 30px;
		margin-bottom: 20px;
		font-weight: 700;
		letter-spacing: 0.1em;
	  }
	}
	.entry-content {
	  text-align: center;
	  padding: 0 0 45px;
	}
	.entry-footer {
	  margin-bottom: 100px;
	  .btn-home {
		margin-right: 20px;
		padding-left: 75px;
		padding-right: 75px;
	  }
	}
  }
}

/* [End] Eror Page
==============================================================*/
.zo-carousel.owl-carousel .owl-item img {
  width: auto;
}

.vc_row.shop-parallax-footer {
  margin: 0;
  padding-top: 140px;
  padding-bottom: 90px;
  .vc_custom_heading {
	margin-bottom: 50px;
  }
}
