/* ==========================================================================
    Style Main Menu
========================================================================== */
#zo-header-navigation {
  .main-navigation {
	ul.ping-right {
	  left: auto;
	  right: 100%;
	}
	ul.ping-left {
	  left: 100%;
	  right: auto;
	}
  }
}

/*
-----> Minimum width of 992 pixels.
*/

/**
Menu Default
======================================================
*/
@media screen and (min-width: 992px) {
  #zo-header-logo {
	padding-left: 69px;
  }
  #menu-mobile {
	display: none;
  }
  #zo-header-navigation.collapse {
	display: block;
  }
  #zo-header-navigation .main-navigation {
	div.nav-menu > ul {
	  display: inline-block !important;
	  width: 100%;
	}
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  text-indent: 0;
	  li {
		position: relative;
		a {
		  display: inline-block;
		  border-bottom: 0;
		  white-space: nowrap;
		  @include transition(all 420ms linear 0ms);
		}
	  }
	}
	.menu-main-menu {
	  > li {
		vertical-align: top;
		@include transition(all 420ms linear 0ms);
		&:hover, &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
		  > a {
			border-bottom-color: $primary_color;
		  }
		}
		> .zo-menu-toggle {
		  display: none;
		}
		> a {
		  position: relative;
		  text-align: center;
		  border-bottom: 2px solid transparent;
		  line-height: normal;
		  text-transform: uppercase;
		  letter-spacing: 0.2em;
		  @include transition(all 420ms linear 0ms);
		  i {
			display: block;
			width: 100%;
			line-height: 0;
			margin-bottom: 6px;
			@include transition(all 420ms linear 0ms);
			+ .menu-title {
			  @include transform(translateY(25px));
			  display: block;
			}
		  }
		}
		&:last-child {
		  > a {
			padding-right: 0;
		  }
		}
		&.menu-item-has-children {
		  position: relative;
		  > ul.sub-menu {
			margin-top: 24px;
			background-color: #141414;
			@include transition(margin 0.4s ease 0s);
			&.current-menu-parent, &.current-menu-ancestor {
			  > a {
				color: $primary_color;
			  }
			}
			.sub-menu {
			  background-color: #0c0c0c;
			}
			li.menu-item-has-children {
			  position: relative;
			  &.group {
				.zo-menu-toggle {
				  display: none;
				}
			  }
			  .zo-menu-toggle {
				position: absolute;
				right: 20px;
				top: 50%;
				line-height: normal;
				@include transform(translateY(-50%));
				.fa:before {
				  content: "\f105";
				}
			  }
			}
		  }
		  &:hover {
			> ul.sub-menu {
			  @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
			  margin-top: 0;
			}
			> .zo-menu-toggle {
			  opacity: 1;
			}
		  }
		}
	  }
	  > li, > li a, > ul > li, > ul > li > a {
		display: inline-block;
		text-decoration: none;
	  }
	  > li ul li, > li ul li a, > ul > li ul li, > ul > li ul li a {
		display: block;
		text-decoration: none;
		text-align: left;
	  }
	  > li ul ul, > ul > li ul ul {
		width: 215px;
	  }
	}
  }
  #zo-header-navigation .main-navigation li ul {
	margin: 0;
	padding: 30px 0 50px;
	position: absolute;
	z-index: 1;
	height: 1px;
	width: 275px;
	top: 100%;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
  }
  /* Menu Stick Wall */
  #zo-header-navigation .main-navigation li ul ul {
	top: 0;
	left: 100%;
	width: 275px;
	&.back {
	  right: 100%;
	  left: auto;
	  ul:not(.back) {
		right: 100%;
		left: auto;
	  }
	  ul.back {
		left: 100%;
		right: auto;
		ul:not(.back) {
		  left: 100%;
		  right: auto;
		}
		ul.back {
		  right: 100%;
		  left: auto;
		}
	  }
	}
  }
  /* End Menu Stick Wall */
  #zo-header-navigation .main-navigation {
	ul li:hover > ul, ul li:focus > ul, .focus > ul {
	  border-left: 0;
	  clip: inherit;
	  overflow: inherit;
	  height: inherit;
	}
	li ul li {
	  a {
		padding: 10px 20px 10px 40px;
		line-height: 1.8em;
		white-space: normal;
	  }
	  &:last-child a {
		border-bottom: none;
	  }
	}
  }
  /* End Menu Sub Level */

  /* Start Mega Menu */
  #zo-header-navigation .main-navigation {
	.columns2 > li:nth-of-type(2n+1),
	.columns3 > li:nth-child(3n+1),
	.columns4 > li:nth-child(4n+1),
	.columns5 > li:nth-child(5n+1) {
	  clear: left;
	}
	.columns5 > li {
	  width: 20% !important;
	}
	.columns4 > li {
	  width: 25% !important;
	}
	.columns3 > li {
	  width: 33% !important;
	}
	.columns2 > li {
	  width: 50% !important;
	}
	[class*="columns"] > li {
	  float: left;
	  > a {
		width: 100%;
	  }
	}
	.menu-main-menu li.has_full_width {
	  position: inherit;
	}
	.menu-main-menu > li.menu-item-has-children ul.sub-menu:not(.multicolumn) {
	  padding-top: 30px;
	  padding-bottom: 50px;
	  min-width: 275px;
	  > li > a {
		padding-left: 40px;
		padding-right: 30px;
	  }
	}
	.menu-main-menu li:not(.group) > ul.multicolumn {
	  &.drop_to_right,
	  &.drop_to_left,
	  &.drop_to_center,
	  &.drop_full_width{
		padding: 60px 100px 80px;
		background-color: rgba(0, 0, 0, 0.9);
	  }
	  &.drop_to_right {
		 right: 0;
	  }
	  &.drop_to_left {
		left: 0;
	  }
	  &.drop_to_center {
		left: 0;
		@include transform(translateX(-50%));
	  }
	  &.drop_full_width {
		left: 0;
		width: 100% !important;
	  }
	  ul.sub-menu:not(.multicolumn) {
		padding-top: 0;
		padding-bottom: 0;
		min-width: auto;
		padding-right: 20px;
	  }
	  > li.menu-item-has-children {
		> a {
		  color: #FFF;
		  margin-bottom: 10px;
		  position: relative;
		  font-size: 14px;
		  line-height: normal;
		  padding: 0;
		  text-transform: uppercase;
		  letter-spacing: 0.05em;
		}
	  }
	  .sub-menu {
		background-color: transparent;
		li {
		  line-height: 36px;
		  a {
			display: inline-block;
			padding: 0;
			letter-spacing: 0.05em;
		  }
		  &:before {
			content: "\f105";
			font-family: FontAwesome;
			padding-right: 20px;
		  }
		}
	  }
	}
	li.group > ul.sub-menu {
	  display: block;
	  float: left;
	  left: 0;
	  position: relative;
	  width: 100%;
	  height: inherit;
	  padding: 0;
	}
	li.title-hide .menu-title {
	  display: none;
	}
	.widget {
	  line-height: 30px;
	  text-transform: initial;
	}
  }
  #zo-header {
	#zo-header-navigation {
	  position: static;
	}
  }
  #zo-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li > a i + .menu-title {
	@include transform(translateY(14px));
  }
  #zo-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li > a i {
	margin-bottom: 3px;
  }
  /* End Start Mega Menu */
  #zo-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li.menu-item-has-children > .zo-menu-toggle {
	display: none;
  }
}

/*
-----> Minimum width of 992 pixels.
*/

/*
-----> Max width of 992 pixels.
*/
@media screen and (max-width: 991px) {
  #zo-header-navigation.collapse {
	background: #222;
	position: absolute;
	top: 80px;
	width: 100%;
  }
  #zo-menu-mobile {
	display: block;
	i {
	  background: $primary_color;
	  color: #fff;
	  cursor: pointer;
	  font-size: 32px;
	  height: 35px;
	  line-height: 35px;
	  text-align: center;
	  width: 45px;
	  &:hover {
		background: #333;
	  }
	}
  }
  #zo-header-navigation .main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	transition: all 500ms ease;
	li {
	  list-style: none;
	  a {
		display: block;
		color: #5e5e5e;
		&:hover, &:focus {
		  color: #21759b;
		}
	  }
	}
  }
  .collapse .main-navigation div.nav-menu > ul {
	display: block;
	max-height: 2000px;
  }
  #zo-header #zo-header-navigation .main-navigation {
	padding: 15px 0;
	.menu-main-menu {
	  > li > a i {
		display: none;
	  }
	  li {
		line-height: 31px;
		a {
		  background: transparent;
		  color: #fff;
		}
	  }
	}
	ul.sub-menu {
	  width: 100% !important;
	}
  }
  /* Dropdown Sub Menu */
  .zo-menu-toggle {
	display: block;
  }
  #zo-header-navigation .main-navigation .menu-main-menu > li {
	position: relative;
	li {
	  position: relative;
	}
	a {
	  display: block;
	  border-bottom: none;
	  color: #999 !important;
	  margin: 0 0 4px !important;
	  padding: 0 !important;
	  &:hover {
		color: #fff !important;
	  }
	}
	.zo-menu-toggle {
	  color: #999;
	  cursor: pointer;
	  position: absolute;
	  right: -5px;
	  text-align: center;
	  top: 0;
	  width: 30px;
	  &:hover {
		color: #fff;
	  }
	}
	ul.sub-menu {
	  max-height: 0;
	  overflow: hidden;
	  padding-left: 10px;
	  @include transition(max-height 600ms linear 0ms);
	  &.submenu-open {
		max-height: 1000px;
		+ .zo-menu-toggle i {
		  &:before {
			content: "\f106";
		  }
		}
	  }
	  .zo-menu-toggle {
		right: 12px;
	  }
	}
  }
}

/**
-----> End Max width of 992 pixels.
*/
/**
Menu style 2
Menu Fixed
======================================================
*/
#zo-header.zo-header-1:not(.header-fixed) {
  .fa-navicon {
	line-height: 0;
  }
  .widget_cart_search_wrap {
	@include breakpoint-min(768px) {
	  margin-top: -10px;
	}
	.widget_cart_search_wrap_item {
	  line-height: 0;
	}
  }

}

#page {
  @include transition(all 300ms ease-in-out);
  #main:before {
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	@include transition(all 300ms);
  }
  &.open {
	#main:before {
	  position: fixed;
	  width: 100%;
	  background-color: #000;
	  opacity: 0.9;
	  z-index: 33;
	}
	#zo-header.zo-header-1 {
	  .main-navigation-fixed {
		right: 50%;
	  }
	}
  }
}

#zo-header.zo-header-1 {
  height: auto;
  #zo-header-logo {
	padding-left: 0;
  }
  #zo-menu-mobile-fixed {
	position: fixed;
	top: 200px;
	right: 0;
	color: #FFF;
	font-size: 16px;
	width: 52px;
	height: 52px;
	background-color: $primary_color;
	cursor: pointer;
	text-align: center;
	line-height: 52px;
	@include transition(all 300ms);
	@include breakpoint-max(480px) {
	  font-size: 20px;
	}
	@media screen and (max-width: 768px) {
	  margin-top: 25px;
	}
  }
  .main-navigation-fixed {
	position: fixed;
	top: 0;
	right: -480px;
	width: 320px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	color: #6f6f6f;
	z-index: 999;
	padding-top: 150px;
	@include transition(right 300ms ease-in-out);
	@include transform(translateX(50%));
	.close {
	  position: absolute;
	  top: 50px;
	  right: 25px;
	  color: #FFF;
	  cursor: pointer;
	  font-size: 18px;
	  &:hover {
		color: $primary_color;
	  }
	}
	.main-navigation-logo {
	  padding: 105px 0;
	  text-align: center;
	}
	.menu-main-menu {
	  margin: 0 0 30px;
	  padding: 0;
	  width: 100%;
	  li {
		list-style: none inside;
		display: block;
		width: 100%;
		position: relative;
		line-height: 72px;
		a {
		  font-size: 30px;
		  color: #9b9b9b;
		  font-weight: 300;
		  display: block;
		  text-transform: uppercase;
		}
		&.menu-item-has-children {
		  .fa {
			&:before {
			  content: "\f105";
			}
			position: absolute;
			top: 0;
			right: 30px;
			padding: 0 15px;
			font-size: 30px;
			cursor: pointer;
			line-height: inherit;
			@include transition(right 300ms ease-in-out);
		  }
		}
	  }
	  > li {
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current_page_item,
		&.current_page_ancestor {
		  > a {
			color: $primary_color;
		  }
		  .fa {
			color: #FFF;
		  }
		}
		&:hover {
		  > a {
			color: $primary_color;
		  }
		  > .fa {
			color: #FFF;
		  }
		}

	  }
	  ul.sub-menu {
		margin: 0 0 0 10px;
		padding: 0;
		width: 100% !important;
		height: 0;
		opacity: 0;
		overflow: hidden;
		@include transition(all 200ms ease-in-out);
		&.open {
		  height: auto;
		  opacity: 1;
		}
		li {
		  &.current-menu-item,
		  &.current-menu-ancestor,
		  &.current_page_item,
		  &.current_page_ancestor,
		  &:hover {
			> a {
			  color: $primary_color;
			}
			> .fa {
			  color: #FFF;
			}
		  }
		}
		ul.sub-menu {
		  padding-left: 30px;
		}
	  }
	}
  }
}

/* ==========================================================================
  End Style Main Menu
========================================================================== */