.zo_extra_font1{font-family:'Damion';}.zo_extra_font2{font-family:'Crimson Text';}.zo_extra_font3{font-family:'Crimson Text';}$primary_color:#ff83a6;
$header_height:80px;
$main_logo_height:60px;
$menu_sticky_height:80px;
$sticky_logo_height:80px;
#zo-header-logo a { line-height: $header_height; }#zo-header-logo a img { max-height: $main_logo_height; }#zo-header { background-color:0,0,0; }#zo-header.header-fixed { height: $menu_sticky_height; }#zo-header.zo-main-header.header-fixed { background-color:rgba(0,0,0,0.8); }#zo-header.header-fixed #zo-header-logo a img { max-height: $sticky_logo_height; }#zo-header.header-fixed #zo-header-logo a,
			#zo-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li { line-height: $menu_sticky_height; }@media(min-width: 992px) {#zo-header-navigation .main-navigation .menu-main-menu,
				#zo-header-navigation .main-navigation div.nav-menu > ul {
					text-align: right;
				}#zo-header-navigation .main-navigation .menu-main-menu > li > a,
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li > a {
					color:#ffffff;
					line-height: $header_height;
				}#zo-header-navigation .main-navigation .menu-main-menu > li.menu-item-has-children > .zo-menu-toggle {
				color:#ffffff;
				}#zo-header-navigation .main-navigation .menu-main-menu > li, 
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li {
					line-height: $header_height;
				}#zo-header-navigation .main-navigation .menu-main-menu > li > a:hover,
				#zo-header-navigation .main-navigation .menu-main-menu >ul > li > a:hover {
					color:#ffffff;
				}#zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a,
				#zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-ancestor > a,
				#zo-header-navigation .main-navigation .menu-main-menu > li.current_page_item > a,
				#zo-header-navigation .main-navigation .menu-main-menu > li.current_page_ancestor > a,
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li.current-menu-item > a,
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li.current-menu-ancestor > a,
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li.current_page_item > a,
				#zo-header-navigation .main-navigation .menu-main-menu > ul > li.current_page_ancestor > a {
					color:#ffffff;
				}}#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li > a {
				color:#ffffff;
			}#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li > a:hover {
				color:#ffffff;
			}#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a,
			#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-ancestor > a,
			#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li.current_page_item > a,
			#zo-header.zo-main-header.header-fixed #zo-header-navigation .main-navigation .menu-main-menu > li.current_page_ancestor > a,
			#zo-header.zo-main-header.header-fixed .widget_cart_search_wrap .widget_cart_search_wrap_item > a.icon {
				color:#ffffff;
			}#zo-header-navigation .main-navigation .menu-main-menu > li ul li > a,
			#zo-header-navigation .main-navigation .menu-main-menu > ul > li ul li .zo-menu-toggle {
				color:#909090;
			}#zo-header-navigation .main-navigation .menu-main-menu > li ul li:hover > a,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li:hover .zo-menu-toggle,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul a:focus,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-item > a,
			#zo-header-navigation .main-navigation .menu-main-menu > ul > li ul li:hover a,
			#zo-header-navigation .main-navigation .menu-main-menu > ul > li ul a:focus,
			#zo-header-navigation .main-navigation .menu-main-menu > ul > li ul li.current-menu-item > a,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-parent > a,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-parent > .zo-menu-toggle,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-ancestor > a,
			#zo-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-ancestor > .zo-menu-toggle {
				color:#ff83a6;
			}#zo-footer-top .wg-title:before {
				background-color:#ffffff;
			}.vc_general.vc_btn3.btn , button.vc_general.vc_btn3, a.vc_general.vc_btn3, .btn, .button, input[type='submit'] {
                    color:#242424;
                    background-color:#ffffff;
                    @include border-radius(0);
                }.vc_general.vc_btn3.btn:hover, button.vc_general.vc_btn3:hover, a.vc_general.vc_btn3:hover, .btn:hover, .button:hover, input[type='submit']:hover,.vc_general.vc_btn3.btn:focus, button.vc_general.vc_btn3:focus, a.vc_general.vc_btn3:focus, .btn:focus, .button:focus, input[type='submit']:focus {
                    color:#ff83a6;
                    background-color:#ffffff;
                }.vc_general.vc_btn3.btn.btn-primary, .btn.btn-primary {
                    color:#ffffff;
                    background-color:#ff83a6;
					@include border-radius(0);
                }.vc_general.vc_btn3.btn.btn-primary:hover, .btn.btn-primary:hover,
			.vc_general.vc_btn3.btn.btn-primary:focus, .btn.btn-primary:focus {
				color:#242424;
				background-color:#ff83a6;
			}.btn , button, .button, a.vc_general.vc_btn3, input[type='submit'] {
				text-transform: uppercase;
			}