.no-margin-bottom { margin-bottom: 0px; }
.margin-bottom { margin-bottom: 20px; }
@media (min-width: 768px){ .col-offset-1_8 { margin-left: 12.5%; } } .padding--0 { padding: 0px!important; } .text-center { text-align: center; }
.line-height--53 { line-height: 53px; } .inline-block { display: inline-block; } .border-radius--5 { border-radius: 5px; } .background-position-bottom { background-position: bottom!important; } #zo-header-navigation .main-navigation .menu-main-menu > li { line-height: 60px!important; }
#zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a {
color: #a5a5a5!important;
text-transform: capitalize;
padding: 0px;
border: none;
margin-bottom: 0px!important;
font-size: 16px;
}
#zo-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a:hover { color: #2b83be!important; }
@media (max-width: 1110px){ #zo-header-navigation .main-navigation .menu-main-menu > li> a { margin-right: 11px!important; } }
@media (max-width: 1199px){ #zo-header-navigation .main-navigation .menu-main-menu > li> a { margin-right: 14px!important; } }
@media (min-width: 1200px){ #zo-header-navigation .main-navigation .menu-main-menu > li> a { margin-right: 30px!important; } } .pe-7s-menu { background-color: #253946!important; }
@media (max-width: 1200px) {
body #zo-header { margin: 0px!important; }
body #page #main { margin-top: 60px!important; }
#zo-header-navigation.collapse { top: 60px!important; }
} .btn.btn-primary.vc_general.vc_btn3,
input[type="submit"] {
background-color: #2b83be!important;
color: #fff!important;
border: 1px solid #2b83be!important;
border-radius: 5px!important;
}
.btn.btn-primary.vc_general.vc_btn3:hover,
input[type="submit"]:hover {
background-color: #fff!important;
color: #2b83be!important;
}
input[type="submit"] { border-radius: 5px; }
input[type="submit"]:hover { border: 1px solid #2b83be!important; } .vc_images_carousel .vc_carousel-indicators { bottom: -35px!important; }
@media screen and (max-width:767px) {
.wpb_images_carousel .vc_images_carousel .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item {
width: 16.66%!important;
margin-bottom: 20px;
}
.wpb_images_carousel .vc_images_carousel .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item + .vc_item { margin-top: 0px!important; }
} .wpcf7-form-control-wrap input.wpcf7-form-control,
.wpcf7-form textarea {
background-color: rgba(108, 108, 108, 0.1)!important;
border: none!important;
color: #333!important;
}
textarea { height: 100px!important; max-height: 100px!important; } #contacto-info h3 {
text-transform: initial!important;
font-weight: 400!important;
font-size: 16px!important;
} .style-toggle.close,
.heading--hidden,
footer.entry-meta { display: none!important; }
.wpb_images_carousel { display: none; }